@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<html>
    <body>
        <section class="main">
            <section class="hero" id="home">
                <p>Book Store</p>
                <h1>Find Your <span>Ideal</span> Books Here</h1>
                <p class="details">
                   Welcome to a world of literary wonders.<br />
                   Welcome to our bookstore.<br />
                   Find your ideal and loved books here. <br />
                   Browse through our virtual shelves
                </p>
                <a href="/About/AboutUs" class="download">About Us</a>
            </section>
        </section>
    </body>
</html>
