@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<html>
	<body>
    <br />
    <br />
        </section>
        <section class="featured" id="featured">
            <h1 class="heading">our<span>featured</span></h1>
            <div class="box-container">
                <div class="box">
                    <img src="~/booksImages/cool.jpg" alt="">
                    <h3>Best and cool</h3>
                    <p>
                     Discover our personalized recommendation engine, meticulously designed to suggest books tailored to your unique reading preferences.Visit your wonderland of books.
                    </p>
                    <a href="/PrivacyPolicy/PPolicy" class="btn">read more</a>
                </div>
                <div class="box">
                    <img src="~/booksImages/delivery2.png" alt="">
                    <h3>Free Delivery</h3>
                    <p>
                     Experience the convenience of free delivery straight to your doorstep, allowing you to indulge in the joy of reading without worrying about extra costs.
                    </p>
                <a href="/PrivacyPolicy/PPolicy" class="btn">read more</a>
                </div>
                <div class="box">
                    <img src="~/booksImages/fast3.jpg" alt="">
                    <h3>Fast Payment</h3>
                    <p>
                    Streamline your book-buying experience with our lightning-fast payment process, ensuring seamless transactions and getting you closer to your next captivating read in no time.
                    </p>
                <a href="/PrivacyPolicy/PPolicy" class="btn">read more</a>
                </div>
            </div>
        </section>
        
    <partial name="_Footer" />
	</body>
</html>