@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<html>
    <body>
        <section class="writer" id="writer">
            <h1 class="heading">Best <span>Writer</span></h1>
        <h1 class="heading">Best <span>Writer</span></h1>
            <div class="box-container">
                <div class="box">
                    <img src="~/booksImages/Ashfaq_Ahmed.jpg" alt="">
                    <h3>Ashfaq Ahmad</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Distinctio, quo amet labore voluptate maxime tenetur porro
                    </p>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                   <div class="social-media">
                       <i class="fa fa-facebook"></i>
                       <i class="fa fa-instagram"></i>
                       <i class="fa fa-twitter"></i>
                       <i class="fa fa-linkedin"></i>
                       <i class="fa fa-telegram"></i>
                   </div>
                </div>
                <div class="box">
                    <img src="~/booksImages/Bano_Qudsia.jpg" alt="">
                    <h3>Bano Qudsia</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Distinctio, quo amet labore voluptate maxime tenetur porro
                    </p>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="social-media">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-instagram"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-telegram"></i>
                    </div>
                </div>
                <div class="box">
                    <img src="~/booksImages/Umera_Ahmad.jpg" alt="">
                    <h3>Umera Ahmad</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Distinctio, quo amet labore voluptate maxime tenetur porro 
                    </p>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="social-media">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-instagram"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-telegram"></i>
                    </div>
                </div>
            </div>
        </section>
        <br />
    <partial name="_Footer" />
    </body>
</html>