<!DOCTYPE html>
<html lang="en">
<head>
    <title>Footer Design</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/Footer.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="/About/AboutUs">about us</a></li>
                        <li><a href="/PrivacyPolicy/PPolicy">our services</a></li>
                        <li><a href="/PrivacyPolicy/PPolicy">privacy policy</a></li>
                        <li><a href="/Features/Feat">Features</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="/FAQ/Faq">FAQ</a></li>
                        <li><a href="/FAQ/Faq">shipping</a></li>
                        <li><a href="/FAQ/Faq">returns</a></li>
                        <li><a href="/Payment/PaymentMethod">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>online shop</h4>
                    <ul>
                        <li><a href="/Categories/Cat">Coding Books</a></li>
                        <li><a href="/Categories/Cat">Urdu Novels</a></li>
                        <li><a href="/Categories/Cat">History Books </a></li>
                        <li><a href="/Categories/Cat">Literature</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                        <a href="www.twitter.com"><i class="fab fa-twitter"></i></a>
                        <a href="www.instagram.com"><i class="fab fa-instagram"></i></a>
                        <a href="www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
