<!DOCTYPE html>
<html lang="en">
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/Policy.css" />


</head>

<body>
    <br /><br />
    <section role="img " class="background1" aria-label="Image Description">
        <div class="masthead1">
            <h2>
                <h1>
                    All About BookStore's Privacy
                </h1>

        </div>
    </section>
    <section class="sectionContainer">
        <div id="section">
            <div id="sectionText">

                <h2><u style="text-decoration-color:orangered">Your Privacy Matters To Us! </h2></u>
                We aim to do everything to respect our customers' privacy.Our commitment to your privacy is of no exception. We aim to be transparent on how we collect, use, and store your information and, thus, share with you through this “Privacy Policy“ that we have designed to protect your information.
                This page  tells you the terms of usage on which you may make use of BookStore.com.You can use our website either as a regular user and a subscribed user. Please read these terms of use carefully before you start to use the site. By using our site, you indicate that you accept these terms of use.

                <h3><u style="text-decoration-color:orangered">Methods Of Collecting User Information </h3></u>

                Book Store collects your personal information provided by you while creating an acount on FoodDash.Your personal information will include your ,email address ,contact number, delivery address(es) ,payment information.
                When you approach BookStore online help desk, we store your query and the information we provide you against that query.
                <br>To enable individuals to access and use our website and services. <br>
                To operate, improve and optimise our website and services and our users’ experience.<br>
                To send service, support and administrative messages, reminders, technical notices, updates, security alerts, and information<br>
                To send marketing and promotional messages and other information that has been requested or which may be of interest. <br>
                To comply with our legal obligations.
                <h3><u style="text-decoration-color:orangered">Security Measures</u></h3>

                To ensure the security of the Personal Data you submit, FoodDash always uses industry-standard encryption software and technologies when transferring and receiving customer data. We have appropriate security measures that protect against the loss, misuse, or alteration of Personal Data that you have submitted. Notwithstanding the foregoing, you understand that there may be circumstances beyond FoodDash’s reasonable control that may result in the instability or insufficiency of said measures. You agree that, under such circumstances, FoodDash shall not be liable or responsible for any unauthorized use, sharing, transfer, alteration, loss, or damage to any information that FoodDash may have collected.
                <h3><u style="text-decoration-color:rgb(235, 140, 16)">Data Privacy Rights</u></h3>
                We acknowledge your Data Privacy Rights which are protected under the Data Privacy Act of 2012 or R.A. No. 10173. If at any time, you would like to exercise your right to access, object, erase, block, edit, rectify, or update the Personal Data we have about you ,contact us through the Contact Information provided.
            </div>
    </section>
   
    <partial name="_Footer" />
   </body>
   </html>
